<div id="add">
  <div class="row">
      <div class="col s12">

        <div class="card-panel">
          <span class="black-text">

            <h5>Create Your Stack</h5>

            <!-- form to add the supplement details -->
            <form ng-submit="vm.submit()">
              <div class="form-user">
                <!-- for MVP purposes, no form validation or sigin/signup page -->
                <input type="text" ng-model="vm.input.username" placeholder="Username"><br>
              </div>
              <div class="form-stack">
                <input type="text" ng-model="vm.input.stacktitle" placeholder="Stack Title">
              </div>
              <br>
              <button class="btn waves-effect waves-light blue-grey lighten-2" type="submit" name="action">Submit</button>
            </form>

          </span>
        </div>

      </div>
    </div>
  </div>
</div>
