<div id="add" ng-controller="AddCtrl as vm">
  <h3>Create Your Stack</h3>
  <div class="desc-stack">

  </div>

  <!-- form to add the supplement details -->
  <form ng-submit="vm.submit()">
    <div class="form-user">
      <input type="text" ng-model="vm.supp.name" placeholder="Username"><br>
      <!-- <input type="text" ng-model="vm.supp.name" placeholder="First Name"><br> -->
      <!-- <input type="text" ng-model="vm.supp.name" placeholder="Last Name"> -->
    </div>
    <br>
    <div class="form-stack">
      <input type="text" ng-model="vm.stack.name" placeholder="Stack Name">
    </div>
    <br>
    <input type="submit" value="Create Stack"/>
  </form>

</div>
