<div id="add" ng-controller="AddCtrl as vm">
  <h3>Create Your Stack</h3>
  <div class="desc-stack">

  </div>

  <!-- form to add the supplement details -->
  <form ng-submit="vm.submit()">
    <div class="form-user">
      <!-- for MVP purposes, no form validation or sigin/signup page -->
      <input type="text" ng-model="vm.input.username" placeholder="Username"><br>
    </div>
    <br>
    <div class="form-stack">
      <input type="text" ng-model="vm.input.stacktitle" placeholder="Stack Title">
    </div>
    <br>
    <input type="submit" value="Create Stack"/>
  </form>

</div>
