<div class="col s12">
  <div class="card-panel">

    <h5>We Found Your Stacks</h5>
    <p>Select a stack to get details or make changes.</p>
    <div class="collection">
      <!-- within this collection card repeat for each item retrieved from pg db -->
      <a class="collection-item" ng-repeat="n in vm.stacks.data track by $index">
        <!-- click on item to pass string of stack title into function -->
        <div ng-click="vm.goToStack(n)"> {{n}} </div>
      </a>
    </div>

  </div>
</div>
