<div id="stacks">

  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <span>Stack Title:</span>
        <span><strong>{{vm.title}}</strong></span>
          <br>
        <span>Created By:</span>
        <span><strong>{{vm.user.username}}</strong></span>
          <br>
          <br>
        <span>Supplements In This Stack:</span>
          <br>
        <div class="collection">
          <!-- within this collection card repeat for each item retrieved from pg db -->
          <ul class="collection-item" ng-repeat="n in vm.supplements track by $index">
            <!-- n represents the object within the array of supplements returned by server -->
            <li>
              <div class="supp-stack">
                <span id="supp-name">Supplement Name: <strong>{{n.name}}</strong></span>
                <span id="supp-dosage">Dosage: <strong>{{n.dosage}}</strong></span>
                <span id="supp-qty">Quantity: <strong>{{n.qty}}</strong></span>
                <span id="supp-delete" ng-click="vm.deleteSupplement(n.id)"><i class="fa fa-times"></i></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <p>Add supplements to the <strong>{{vm.title}}</strong> stack:</p>
        <div class="row">

          <form class="col s12" ng-submit="vm.addSupplement()">
            <div class="row">
              <!-- supplement name input field -->
              <div class="input-field col s12">
                <input id="supp_name" type="text" class="validate" ng-model="vm.supplement.name">
                <label for="supp_name">Supplement Name</label>
              </div>

              <!-- supplement dosage input field -->
              <div class="input-field col s12">
                <input id="supp_dosage" type="number" class="validate" ng-model="vm.supplement.dosage">
                <label for="supp_dosage">Dosage/Amount</label>
              </div>

              <!-- supplement qty input field -->
              <div class="input-field col s12">
                <input id="supp_qty" type="number" class="validate" ng-model="vm.supplement.qty">
                <label for="supp_qty">Quantity</label>
              </div>
            </div>
            <br>

            <!-- submit button -->
            <div class="row">
              <button class="btn waves-effect waves-light blue-grey lighten-2" type="submit" name="action">Add Supplement</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>
