body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.supp-stack #supp-name {
  margin-right: 20px;
}

.supp-stack #supp-dosage {
  margin-right: 20px;
}

.supp-stack #supp-qty {
  margin-right: 20px;
}

.supp-stack #supp-delete {
  float: right;
  color: #e57373;
}

.supp-stack #supp-delete:hover {
  color: #e53935;
  cursor: pointer;
}
